.page-banner {
    background-color: #000;
    padding: 100px 0 150px 0;
    position: relative;
    @include atSmall {
      padding: 50px 0 30px 0;
    }
  }
  
.page-banner__content {
      position: relative;
      z-index: 2;
    }
  
.page-banner__title {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      margin: 0 0 1rem 0;
      color: #fff;
      @include atSmall {
        font-size: 5rem;
      }
    }
  
.page-banner__bg-image {
      opacity: 0.44;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    .page-banner__intro {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.3;
      color: #ededed;
      @include atSmall {
        font-size: 1.65rem;
      }
    }
  
    .page-banner__intro p {
      margin: 0;
    } 