.page-banner {
  background-color: rgb(43, 27, 13);
  padding: 80px 0 40px 0;
  position: relative;
  @include atSmall {
    padding: 130px 0 60px 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3.6rem;
    margin: 0 0 1rem 0;
    color: #fff;
    @include atSmall {
      font-size: 5rem;
    }
  }

  &__bg-image {
    opacity: 0.33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__intro {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #ededed;
    @include atSmall {
      font-size: 1.65rem;
    }
  }

  &__intro p {
    margin: 0;
  }
}
