$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$bg0: #ffffff;
$bg1: #1a1a1a;
$bgExtra: #d8d7d7;
$socialicons: #333;
$logo: #EE964B;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 60rem;